@font-face {
  font-family: Glacial;
  src: url("../fonts/GlacialIndifference-Regular.otf");
}
@font-face {
  font-family: Glacial;
  font-weight: bold;
  src: url("../fonts/GlacialIndifference-Bold.otf");
}
* {
  font-family: Glacial !important;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 18px;
  margin: 0;
}

ul {
  font-size: 18px;
  margin: 0;
}

html, body, #root {
  width: 100%;
  height: 100vh;
  margin: 0;
}

button {
  color: white;
  background: #F66D65;
  font-weight: bold;
  font-size: 18px;
  border: none;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  margin-top: 1rem;
}
button.light {
  color: #F66D65;
  background: white;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.6;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

input {
  background: none;
  border: none;
  font-size: 18px;
  border-bottom: 2px solid white;
  margin: 0.5rem 0;
  color: white;
  width: 240px;
}

.content {
  width: 80%;
  max-width: 1200px;
}

.hidden {
  visibility: hidden;
}

#home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #F66D65;
  color: white;
}
#home-page .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home-page .content h1 {
  text-align: center;
  margin: 2rem 0;
}
#home-page .content #device-notice {
  display: none;
  text-align: center;
  margin: 1rem 0;
}
@media only screen and (max-width: 900px) {
  #home-page .content #device-notice {
    display: inline;
  }
}

#lobby-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #F66D65;
  color: white;
}
#lobby-page .content {
  max-width: 1300px;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#lobby-page .content #players {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
#lobby-page .content #players .player {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 1rem;
  width: 128px;
  border-bottom: 2px solid white;
}
#lobby-page .content #players .player p {
  margin: 0;
}
#lobby-page .content #room-code {
  font-size: 2rem;
  background: white;
  color: #F66D65;
  display: inline;
  padding: 1rem;
  align-self: center;
  margin: 1rem 0 2rem;
}
#lobby-page .content #rules {
  font-size: 16px;
}

#game-page {
  height: 100%;
}
#game-page .left-players {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column-reverse;
}
#game-page .top-players {
  position: absolute;
  left: 50%;
  top: 1rem;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}
#game-page .right-players {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
#game-page .player-pane {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
#game-page .player-pane h1 {
  text-align: center;
}
#game-page .player-pane .card-selection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#game-page .player-pane .winner-selection {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
#game-page .card-container {
  padding: 1rem 0.5rem;
  display: inline-flex;
  border-radius: 4px;
  border: 2px solid #C4C4C4;
}
#game-page .player {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  height: 256px;
  margin: 0 1rem;
}
#game-page .player h1 {
  height: calc(180px - 4rem);
  text-align: center;
  border-radius: 4px;
  padding: 2rem;
  border: 2px solid #C4C4C4;
}
#game-page .player h3 {
  text-align: center;
}
#game-page .player .turn {
  border: 2px solid #F66D65;
}
#game-page .card {
  width: 84px;
  height: 128px;
  padding: 0.5rem;
  border-radius: 4px;
  border: 2px solid black;
  margin: 0 0.5rem;
  font-size: 11px !important;
  background: white;
}
#game-page .card.red {
  background: #F66D65;
  color: white;
}
#game-page .card.selected {
  box-shadow: 2px 6px 6px #F66D65;
}
#game-page .card:hover {
  transform: scale(2);
}

/*# sourceMappingURL=index.css.map */
