@font-face {
  font-family: Glacial;
  src: url('../fonts/GlacialIndifference-Regular.otf');
}

@font-face {
  font-family: Glacial;
  font-weight: bold;
  src: url('../fonts/GlacialIndifference-Bold.otf');
}

* {
  font-family: Glacial !important;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 18px;
  margin: 0;
}

ul {
  font-size: 18px;
  margin: 0;
}
